* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: white;
}

body {

    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(65,65,129,1) 35%, rgba(0,212,255,1) 100%);
    min-height: 100vh;
    color: white;
}

.container {
    width: 60%;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
a{
    color: white;
}

