* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: white;
}

body {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(65,65,129,1) 35%, rgba(0,212,255,1) 100%);
    min-height: 100vh;
    color: white;
}

i {
    color: white;
}

i:hover {
    color: #c1d405;
}

.container-main {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    width: 85%;
}

.menu {
    display: flex;
    flex-direction: column;
    width:20%;

}

.avatar {
    background: transparent;
    margin-top: 1rem;
}

.avatar:hover {
    box-shadow: -1px 4px 16px 8px #9c86bb;
    transition-duration: 0.7s;
}
.avatar i {
    font-size: 70px;
    padding: 1rem;
}

.avatar a span:hover {
    color: #c1d405;
    transition-duration: 0.2s;
}

.actions {
    min-height: 80vh;
}

.container-table {
    width: 100%;
    min-height: 750px;
}

.operatori, .utenti, .categorie{
    display:none;
    min-width: 50%;
   margin: 3rem 0 0 5rem;
}

.row {
    display: flex;
    justify-content: space-around;
}

.row-cel {
    width: calc((100% /4) - 20px);
    margin: 1rem 0;
    text-align: left;
}

.ut {
    min-width: calc((100% / 3)- 30px);
}

.ct {
    min-width: calc((100% / 2) - 50px);
}

.one {
    padding: 1rem;
    border-radius: 25px;
}

.one:hover {
    box-shadow: -1px 4px 16px 8px #9c86bb;
    transition-duration: 0.7s;
    border-radius: 25px;
}

.active {
    display: block;
}

table {
    margin: 2rem 0;
}
tr {
    border: 1px solid transparent;
    border-spacing: 10px;

}
td {
    border: 1px solid transparent;
    border-spacing: 10px;

}
th {
    border: 1px solid transparent;
    border-spacing: 10px;

}

.operator, .user, .category {
    margin: 2rem 0;
}



.social i {
    text-align: center;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: flex-end;
}
nav ul li a {
    color:white;
    justify-content: space-between;
    text-decoration: none;
    font-size: 20px;
    margin: 1rem;
}

nav ul li a:hover {
    color: #c1d405;
    transition-duration: 0.2s;
}

.link {
    margin-top: 3rem;
}

.container {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.contacts {
    display:flex;

}

.image a img{
    width: 100%;
}

.social a {
    text-align: start;
}

#myBtn, #myBtn1, #myBtn2 {
    margin-top: 1rem;
    color: white;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: transparent;
    border-radius: 25px;
}

#myBtn:hover, #myBtn1:hover, #myBtn2:hover {
    margin-top: 1rem;
    color: black;
    width: 100%;
    height: 30px;
    background-color: white;
    border: transparent;
    box-shadow: -1px 4px 16px 8px #9c86bb;
    transition-duration: 0.7s;
    border-radius: 25px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: transparent;
    margin: 15% auto; /* 15% from the top and centered */
    width: 30%; /* Could be more or less, depending on screen size */
    min-height: 22%;
    border-radius: 25px;
}

.modal-form {
    color: black;
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 20px;
    border-radius: 25px;
    border: 1px solid transparent;
    padding-bottom: 25px;
}

.modal-form:hover {
    box-shadow: -1px 4px 16px 8px #9c86bb;
    transition-duration: 0.7s;
}

.modal-form input {
    width: 100%;
    height: 30px;
    border-radius: 25px;
    border: 1px solid transparent;
    text-align: center;
    margin: 1rem 0;
}

.modal-form input:hover {
    box-shadow: -1px 4px 16px 8px #b39cd3;
    transition-duration: 0.7s;
    cursor: pointer;
    color: #565454
}

.modal-form button {
    width: 100%;
    background-color: transparent;
    color: #aaa;
    border: 1px solid transparent;
}

.modal-form button:hover {
    color: white;
    cursor: pointer;
}

.modal-form span {
    text-align: end;
}



/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}






