* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: white;
}

body {

    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(65,65,129,1) 35%, rgba(0,212,255,1) 100%);
    min-height: 100vh;
    color: white;
}

i {
    color: white;
}

i:hover {
    color: #c1d405;
}

.container-main {
    display: flex;
    min-height: 70vh;
}

.container-title {
    margin: 1rem auto 3rem;
    display: flex;
    justify-content: space-between;
}

.logout {
    justify-content: end;
}
.logout a i{
    padding: 1rem;
}
.menu {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 30%;
}

.menu a {
    margin: 1rem;
}

.avatar {
    width: 100%;
    height: 35%;
    border-radius: 50%;
    position: relative;
    background: transparent;
}

.avatar:hover {
    box-shadow: -1px 4px 16px 8px #9c86bb;
    transition-duration: 0.7s;
}
.avatar i {
    position: absolute;
    top: 25%;
    left: 25%;
    font-size: 100px;
}

.avatar i:hover {
    color: #c1d405;
    transition-duration: 0.2s;
}

.actions a {
    text-decoration: none;
    font-size: 17px;
}

.avatar a span:hover {
    color: #c1d405;
    transition-duration: 0.2s;
}


.container-table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.operatori, .utenti, .categorie{
    display:none;
    margin: 2rem 0;
    min-width: 50%;
}

.operatori h3, .utenti h3, .categorie h3 {
    margin: 2rem 1rem;
}

.row {
    display: flex;
    justify-content: space-around;
}

.row-cel {
    width: calc((100% /4) - 20px);
    margin: 1rem 0;
    text-align: left;
}

.ut {
    min-width: calc((100% / 3)- 30px);
}

.ct {
    min-width: calc((100% / 2) - 50px);
}

.one {
    padding: 1rem;
    border-radius: 25px;
}

.one:hover {
    box-shadow: -1px 4px 16px 8px #9c86bb;
    transition-duration: 0.7s;
    border-radius: 25px;
}

.active {
    display: block;
}

table {
    margin: 2rem 0;
}
tr {
    border: 1px solid transparent;
    border-spacing: 10px;

}
td {
    border: 1px solid transparent;
    border-spacing: 10px;

}
th {
    border: 1px solid transparent;
    border-spacing: 10px;

}

.operator, .user, .category {
    margin: 2rem 0;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.ftone {
    width: 33%;
}

.fttwo {
    width: 66%;
    display: flex;
}

.mails, .contacts, .social {
    width: 33%;
    padding-top: 3rem;
}

.social i {
    text-align: center;
}

.image img {
    width: 100%;
}

nav {
    style: none;
}
nav ul {
    list-style: none;
    display:flex;
    justify-content: flex-end;
}
nav ul li a {
    color:white;
    justify-content: space-between;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    color: #c1d405;
    transition-duration: 0.2s;
}

.container {
    width: 50%;
    margin: 0 auto;
}


