* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: white;
}

body {

    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(65,65,129,1) 35%, rgba(0,212,255,1) 100%);
    min-height: 100vh;
    color: white;
}

.container {
    width: 60%;
    margin: 0 auto;
}


.container-title {
    margin: 2rem auto 3rem;
    display: flex;
    justify-content: space-between;
}

.container-main {
    display:flex;
}

.container-ticket {
    width: 25%;
    min-height: 100vh;
    margin-top: 1rem;
}

.avatar {
    background: transparent;
    text-align:center;
}

.avatar h4 {
    margin-top: 1rem;
}

.avatar:hover {
    box-shadow: -1px 4px 16px 8px #9c86bb;
    transition-duration: 0.7s;
}
.avatar i {
    font-size: 100px;
    text-align:center;
}

.avatar i:hover {
    color: #c1d405;
    transition-duration: 0.2s;
}

.form {
    display: none;
}

.ticket:hover {
    color:#c1d405;
}

input {
    width: 250px;
    height:30px;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: white;
    opacity: 0.7;
    color:white;
    padding: 0 0.5rem;
    margin: 0.5rem 0;
}

input:hover {
    border-radius: 25px;
    width: 250px;
    height: 30px;
    color:black;
    box-shadow: -1px 4px 16px 8px #9c86bb;
    background-color: white;
    opacity: 0.9;
    transition-duration: 0.5s;
    color:black;
    padding: 0 0.5rem;
}

select {
    width: 100%;
    height:30px;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: white;
    opacity: 0.7;
    color: black;
    margin: 0.5rem 0;
    text-align: center;
}

select:hover {
    border-radius: 25px;
    width: 100%;
    height: 30px;
    color:black;
    box-shadow: -1px 4px 16px 8px #9c86bb;
    background-color: white;
    opacity: 0.9;
    transition-duration: 0.5s;
    color:black;
    margin: 0.5rem 0;
    text-align: center;
}

option {
    color: black;
}

::-webkit-input-placeholder {
    color: black;
    text-align:center;
}

.active {
    display:block;
}

.container-table {
    width: 75%;
    min-height: 100%;
    padding: 1rem;
    border-radius: 25px;
}

.container-table:hover {
    box-shadow: -1px 4px 16px 8px #9c86bb;
    transition-duration: 0.7s;
    min-height: 100%;
    border-radius: 25px;
}

h3 {
    margin: 1rem 0;
    font-size: 20px;
    padding: 1rem;
    text-decoration: none;
}

.row {
    display: flex;
}

.row-cel {
    width: calc((100% / 8) - 40px) ;
    padding: 1rem 0;
    margin: 0 auto;
}

.hd {
    font-size: 20px;
}

span {
    margin: 0 auto;
}

span i:hover {
    text-align: center;
    font-size: 20px;
    transition-duration: 0.3s;
    color: #c1d405;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.ftone {
    width: 33%;
    padding: 1rem;
}

.fttwo {
    width: 66%;
    display: flex;
}

.mails, .contacts, .social {
    width: 33%;
    padding-top: 3rem;
}

.social i {
    text-align: center;
}

.image img {
    width: 100%;
}

#myBtn {
    margin-top: 1rem;
    color: white;
    height: 30px;
    background-color: transparent;
    border: transparent;
    border-radius: 25px;
    width: 100%;
}

#myBtn:hover {
    margin-top: 1rem;
    color: black;
    height: 30px;
    background-color: white;
    border: transparent;
    box-shadow: -1px 4px 16px 8px #9c86bb;
    transition-duration: 0.7s;
    border-radius: 25px;
    width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #6e7051;
    margin: 15% auto; /* 15% from the top and centered */
    width: 30%; /* Could be more or less, depending on screen size */
    min-height: 22%;
    border-radius: 25px;
}

.modal-form {
    color: black;
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 20px;
    border-radius: 25px;
    border: 1px solid transparent;
    padding-bottom: 25px;
}

.modal-content:hover {
    box-shadow: -1px 4px 16px 8px #9c86bb;
    transition-duration: 0.7s;
}

.modal-form input {
    width: 100%;
    height: 30px;
    border-radius: 25px;
    border: 1px solid transparent;
    text-align: center;
    margin: 0.7rem 0;
    color: #565454
}

.modal-form input:hover {
    box-shadow: -1px 4px 16px 8px #b39cd3;
    transition-duration: 0.7s;
    cursor: pointer;
    color: #565454
}

.modal-form button {
    width: 100%;
    background-color: transparent;
    color: #aaa;
    border: 1px solid transparent;
}

.modal-form button:hover {
    color: white;
    cursor: pointer;
}

.modal-form span {
    text-align: end;
}



/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

